
/* body */


.navbar {
    display: flex;
    align-items: center;
    height: 60px;
    background: linear-gradient(90deg, #5f1878 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.navbar--home,.navbar--projects,.navbar--groups {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}